.login-container {
  text-align: left;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
}

.login-wrapper {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper > div {
  width: fit-content;
}

.login-wrapper > div > h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 4vh;
}

.login-wrapper > div > h1 > .fit {
  color: #4663ac;
}

.login-wrapper > div > h2 {
  font-size: 36px;
  line-height: 45px;
}

.login-wrapper .username-input,
.password-input,
.submit-btn {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  width: 56vh;
  height: 3.4vh;
}

.login-wrapper .username-input:focus,
.password-input:focus,
.submit-btn:focus {
  outline: none;
}

.login-wrapper .username-input::placeholder,
.password-input::placeholder {
  color: #c4c4c4;
}

.login-wrapper .username-input,
.password-input {
  text-indent: 1vh;
  margin-top: 1vh;
}

.login-wrapper .submit-btn {
  background: #4663ac;
  color: #ffffff;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.login-wrapper .submit-btn:hover {
  cursor: pointer;
}

.login-wrapper .footer {
  text-align: center;
  color: #c4c4c4;
}

.login-wrapper .footer > a,
p > a {
  text-align: center;
  color: #4663ac;
  text-decoration: none;
  font-style: normal;
}
.login-wrapper .footer > a:hover,
p > a:hover {
  text-decoration: underline;
}

.login-wrapper .register-link {
  padding-left: 0.3em;
}

.welcome-wrapper {
  background: #4663ac;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-wrapper .img-container {
  background-image: url("/src/images/kwetter-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vh;
}
