.kweet-container {
  border: 1px solid yellow;
  border-radius: 15px;
  margin-bottom: 5%;
}

/* .kweet-container {
  width: 100%;
  height: 20%;
  border-radius: 15px;
  border: 1px solid yellow;
  width: auto;
  margin: 10%;
}

.kweet-container > div {
  width: 50%;
  float: left;
  height: 100%;
}

.kweet-container > div > p {
  margin: 10%;
  margin-bottom: 0%;
} */
