.followers-container {
  height: 65vh;
  border-radius: 15px;
  border: 1px solid yellow;
  width: auto;
  margin: 10%;
  display: grid;
  grid-template-rows: 3fr 97fr;
}

.followers-container .content {
  height: 100%;
  border: 1px solid pink;
}
