.user-container {
  height: 65vh;
  border-radius: 15px;
  border: 1px solid yellow;
  width: auto;
  margin: 10%;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.user-container .img-container {
  background-image: url("/src/images/profile-pic.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.user-container > div {
  border: 1px solid black;
  width: 20vh;
  height: auto;
  margin: 0 auto;
}
