.page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 100%;
}

.page-container > div {
  background: rgb(97, 184, 255);
  border: 0.1px solid black;
}
