.navbar-container {
  position: relative;
  z-index: 0;
  height: 25vh;
}

.navbar-container .img-container {
  background-image: url("/src/images/mountains.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: transparent;
}
